<div class="inner_page">
    <strong class="heading"><img src="~/images/service.png" />&nbsp;Our Services</strong>
    <p>ESS will provide well-trained guards for one or more of the following purposes:</p>

    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/static_guard.png" />
        <div>
            <strong>Static Guard</strong>
            <p>We understand that Security Officers are often the first point of contact in many situations within a client site, therefore, we have developed a selection and training program that is customer service specific.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/crowd_control.jpg" />
        <div>
            <strong>Crowd Control</strong>
            <p>Our teams are trained to make an event secure, which in turns adds to the experience for visitors and guests.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/mobile-patrol.jpg" />
        <div>
            <strong>Mobile Patrolling</strong>
            <p>Empire Security Services can provide mobile security patrols to suit your specific needs whether you require individual random security checks or a dedicated mobile security patrol officer. Our patrolman are equipped with an Electronic Verification System, this system ensures that we conform to our clients requirements and provides supporting documentation should the need arise.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/static_guard.png" />
        <div>
            <strong>Event Security</strong>
            <p>Empire Security can provide your business with suitably qualified and trained personnel for Special events to ensure that your corporate function remains safe and secure in the best interest of your company and staff.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/bday.jpg" />
        <div>
            <strong>Birthday Parties</strong>
            <p>if you need crowd control or a doorman for your next party we protect your guests and event by providing our professional security guard.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/constructionsecurity.jpg" />
        <div>
            <strong>Construction site Security</strong>
            <p>Your site will be supplied with security warning boards, rigid boards or stickers, as part of our service. Different warning notices, denoting for example the presence of guard-dogs, a 'Stop and Search' policy, can also be displayed on request.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/24hr.jpg" />
        <div>
            <strong>24 HRS emergency</strong>
            <p>Empire Security can supply personnel in an emergency situation in the event that your business is placed at risk due to unforeseen circumstances.</p>
        </div>
    </div>
    <!--1-->
    <div class="service_box">
        <img src="~/images/guards/loss.jpg" />
        <div>
            <strong>Loss Prevention</strong>
            <p>At Empire Security we understand the importance of being the face of each business, while providing outstanding communication and customer service.</p>
        </div>
    </div>
    <p>
        ESS will be a licensed, insured, and bonded business and will offer unarmed guards, based on client needs and budgets. All
        guards will be certified for security work.<br />
        <br />
        Whenever possible, the same guards will be sent consistently to the same clients. However, substitutes will be necessary
        from time to time and the business will ensure that detailed data about the Job is transmitted to substitute guards on those
        occasions. ESS will build trust with clients as a partner, rather than simply in the specific guard or guards they grow
        comfortable with.<br />
        <br />
        We also focus specifically on the safety of our colleagues and those around us. This is supported by a number of key safety
        initiatives and campaigns designed to increase awareness of health and safety matters, learn from best practice and prevent
        health and safety incidents.
    </p>
</div>
