<div class="inner_page">
    <strong class="heading"><img src="~/images/outstanding.png" />&nbsp;Outstanding Services That Sales</strong>
    <p>
        At ESS, we see ourselves as business partners, not merely service providers. Client Service is one of the core values of our
        company, it's what gives us our cutting edge and a measurable point of difference. Our Operations and Management teams
        are the leaders driving the over all performance of our mainteam.<br />
        All related ESS staff assigned to our dient's sites Is fully trained to fulfil a vital role In the service required by our client. They
        will befully equlpped with the knowledge of spedflc security needs as well as lnternal and extema Jrisks with in a company.<br />
        <br />
        On Investigation of discussions we recommend conducting a detailed risk analysis at the customer site. This will help us to
        assess whether all areas of potential risk have been Identified, whether the manpower allocation is sufficient and whether
        any additional, integrated equipment or services are required, which will enable us to present you with a decisive solution.
        These will be Incorporated Into comprehensive, site s pecific procedures. These site procedures are laid out In a standard
        format and pre commencement training Is done with our security officers during a site Induction.<br />
        In widely differing regulatory environments, corporate world depend upon security for their long-term prosperity. in complex
        risks, dellverlngeffecttve security Is an absolute cllallenge.<br />
        At ESS, we understand that organisations wflich look at their security challenges more comprehensively can unlock hidden
        benefits to help them to thrive and prosper.<br />
        We offer a total approach to sewrlty Issues, drawing on our assessment. anticipation, our proven capabilities In personnel
        management, logistics and securltytechnologfes.<br />
        In today's world, retail businesses and commercial real estate ventures cannot thrive and prosper unless premises, stock,
        employees and customers get a safe and secure environment. Being faced with diverse and often growing risks, ensuring the
        security of key assets -people, property, products and reputation -Is a challenge.
        We understand that true benefit from retail and commercial real estate security Is not gained $Imply by providing uniformed
        security guards.<br />
        We are determined to work with our clients to build solutions that combine our knowledge of security processes and
        technology.<br />
        <br />
        The smart security solutions provided by ESS manage risks, allowing Its clients to focus on their main prlorlty-thelrbuslness.<br />
        Secure and beneficial solutions come from understanding the challenges of securing the target segment. let us assist you In
        securingyoorworld.
    </p>
</div>
<div class="inner_page">
    <strong class="heading"><img src="~/images/mission.png" />&nbsp;Mission</strong>
    <p>
        ESS will remove entire worries, fears and apprehensions for clients who require security guards for their buildings, facilities,
        and events by providing excellent customer service for them and in-depth tra ining for their employees. It is our business to
        buy your worries and deliver comfort with security.<br />
        A safe and secure environment is essential for the true enjoyment of leisure and recreation time. However, in a world of
        diverse and increasing risk, the creation and maintenance of such environments is a complex challenge.<br />
        At ESS, we believe that such challenges provide the opportunity to provide better and more secure leisure experiences.<br />
        We always take into account the bigger picture while understanding the complex interdependence of different parts.
    </p>
</div>
<div class="inner_page">
    <strong class="heading"><img src="~/images/keys.png" />&nbsp;Keys To Success</strong>
    <p>ESS believes the keys to success in its industry include:</p>
    <ul class="keys">
        <li>listening carefully to client concerns and objectives to create customized security guard packages</li>
        <li>Knowing what the client does not know (bringing deep security expertise as well as knowledge of legal regulations and liability to the table)</li>
        <li>Training security guards carefully and maintaining their training and certifications</li>
        <li>Monitoring the quality of security guard service to offer quality assurance</li>
    </ul>
</div>

<div class="inner_page">
    <strong class="heading"><img src="~/images/accreditation.png" />&nbsp;Accreditation</strong>
    <p>Empire Security Services (ESS) has been accredited with the following licenses:</p>
    <ul class="keys">
        <li>Security Master Ucense</li>
        <li>Commercial Agents and Private Inquiry Agents Master license</li>
    </ul>
    <p>Empire Security Services I sa corporate member of:</p>
    <ul class="keys">
        <li>Australian Security lnd!Gtry Association Limited (ASIAL)</li>
    </ul>
    <p>Empire Security Services Insurance polides for the protect1on of Its operations:</p>
    <ul class="keys">
        <li>Public Uablllttes Insurance (PL) $20,000,000.</li>
        <li>Workers Compensation Insurance</li>
    </ul>
</div>



<div class="inner_page">
    <strong class="heading"><img src="~/images/competitive.png" />&nbsp;Competitive Edge</strong>
    <p>
        ESS Security will build a competitive edge through high levels of customer service and assurance. The company will strive to
        not be a broker between clients and contracted security guards, as some security guard providers become, but instead be a
        partner in the security and prolledion of client's assets, with security guards as a major tool in that protection. This strategy
        will require ESS to carefuiJy audit adient's security situation and to work with diem on plans to upgrade and maintain that
        security. We at ESS will continually check In with clients and with the guards sent to dlent sites to learn about the cflallenges
        theyarefadng.
    </p>
</div>

