    <div class="section myrow" style="padding-top: 0px;">
        <div class="clearfix">
            <h2 class="ind1 textCenterAlign" style="border-bottom: 1px solid #E6E6E6;padding-top: 60px;padding-bottom: 30px;">Career</h2>
            <div class="seven fl">
                <p>Empire Security Services understands that a skilled and responsible workforce plays a major part in improving performance and achieving quality outputs.</p>
                <p>Empire Security Services is constantly assessing the best means of developing and implementing suitable training programs for our employees, this is done in order to enhance their overall motivation levels, commitment and levels of retention.</p>
                <p>We also aim to help each Security Officer take full advantage of all professional opportunities that are available and to take steps to eliminate any threats to their career and operational effectiveness.</p>
                <p>We provide staff with particular skills and training in a number of security-related areas, including:</p>
                <div class="entry">
                    <ul style="text-align: left;">
                        <li>Static Guard</li>
                        <li>Crowd Control</li>
                        <li>Mobile Patrolling</li>
                        <li>Event Security</li>
                        <li>Birthday Parties</li>
                        <li>Construction site Security </li>
                        <li>Loss Prevention</li>
                    </ul>
                </div>
            </div>
            <div class="marginAutoCenter padTop50 fr four" style="">
                <div class="marginAutoCenter padTop15" style="">
                    <p style="padding-top: 0px;margin-top:0px;">Please fill in the form and attach your resume if you are interested about working for Empire Security Services.</p>
                    <form id="form" class="textCenterAlign" method="post" enctype="multipart/form-data">
                        <label class="name"><input type="text" value="" name="your-name" placeholder="Name"></label><br><br>
                        <label class="email"><input type="text" value="" name="your-email" placeholder="E-mail"></label><br><br>
                        <label class="phone"><input type="tel" value="" name="ph" placeholder="Phone"></label><br><br>
                        <label class="message"><textarea value="fff" name="your-message" placeholder="Cover Letter"></textarea></label><br><br>
                        <div style="padding-bottom: 5px;">Upload your CV</div>
                        <label class="file"><input type="file" name="attachment"></label>
                        <div class="clear"></div>
                        <div style="padding-top: 15px;">
                            <div class="msg" style="color: red;"><br><br></div>
                            <input type="submit" class="btn btn-raised submitContact" id="sendCareerBtn" style="width: 150px;color:#fff;height: 50px;" value="SUBMIT">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>