@model EmpireSecurityServices.Models.Resume
<div class="inner_page">
    <strong class="heading"><img src="~/images/career.png" />&nbsp;Career</strong>
    <p>Empire Security Services understands that a skilled and responsible workforce plays a major part in improving performance and achieving quality outputs.</p>
    <p>Empire Security Services is constantly assessing the best means of developing and implementing suitable training programs for our employees, this is done in order to enhance their overall motivation levels, commitment and levels of retention.</p>
    <p>We also aim to help each Security Officer take full advantage of all professional opportunities that are available and to take steps to eliminate any threats to their career and operational effectiveness.</p>
    <div class="line"></div>
    <p>We provide staff with particular skills and training in a number of security-related areas, including:</p>
    <ul>
        <li>tatic Guard</li>
        <li>Crowd Control</li>
        <li>Mobile Patrolling</li>
        <li>Event Security</li>
        <li>Birthday Parties</li>
        <li>Construction site Security</li>
        <li>Loss Prevention</li>
    </ul>
</div>
<div class="inner_page2">
    <p>Please fill in the form and attach your resume if you are interested about working for Empire Security Services.</p>
    <table>
        <tr>
            <td>Name:<br />@Html.TextBoxFor(m => m.Name)</td>
            <td>Email:<br />@Html.TextBoxFor(m => m.EmailAddress)</td>
        </tr>
        <tr>
            <td>Phone:<br />@Html.TextBoxFor(m => m.ContactNo)</td>
            <td>Cover Latter:<br />@Html.TextAreaFor(m => m.CoverLetter)</td>
        </tr>
        <tr>
            <td>Upload your CV:<br /><input type="file" /></td>
            <td><input type="button" value="Submit" /></td>
        </tr>
    </table>
</div>
