    <div style="background: #ECF0F1;">
        <div class="section myrow">
            <div class="mid">
                <h1 style="font-weight: normal">Contact</h1>
                <h3 style="font-weight: normal">Thank you for your interest in Empire Security Services.</h3>
            </div>
        </div>
    </div>
    <div class="section myrow" style="padding-top: 0px;">
        <div class="clearfix">
            <h2 class="ind1 textCenterAlign" style="border-bottom: 1px solid #E6E6E6;padding-top: 60px;padding-bottom: 30px;">Contact</h2>
            <div class="four fl">
                <div class="textCenterAlign padBottom20">
                    <strong>Canberra</strong><br>
                    <p>
                        228 Kerrigan Street<br>Dunlop, ACT 2615<br>
                        Canberra, Australia<br>
                        <strong>Phone:</strong> <span class="skype_c2c_print_container notranslate">+61 426 479 711</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+61426479711" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">+61 426 479 711</span><span class="skype_c2c_free_text_span"></span></span></span></span>, <span class="skype_c2c_print_container notranslate">+61 425 454 253</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+61425454253" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">+61 425 454 253</span><span class="skype_c2c_free_text_span"></span></span></span></span><br>
                        <strong>Fax</strong> +61 (0)2 6147 0365<br>
                        <strong>Email:</strong><a style="text-decoration: none;color: inherit;" href="mailtio:info@empiresecurityservices.com.au">info@empiresecurityservices.com.au</a>
                    </p>

                </div>
            </div>
            <div class="marginAutoCenter padTop50 fr six" style="">
                <div class="marginAutoCenter padTop15" style="">
                    <p style="padding-top: 0px;margin-top:0px;">To find out more about Empire Security Services or to get a quick quote fill in this form and one of our friendly experts will respond to your query shortly.</p>
                    <form id="form" class="textCenterAlign" method="post">
                        <label class="name"><input type="text" name="your-name" placeholder="Name"></label><br><br>
                        <label class="email"><input type="text" name="your-email" placeholder="E-mail"></label><br><br>
                        <label class="phone"><input type="tel" name="ph" placeholder="Phone"></label><br><br>
                        <label class="message"><textarea name="your-message" placeholder="Message"></textarea></label>
                        <div class="clear"></div>
                        <div style="padding-top: 15px;">
                            <div class="msg" style="color: red;"><br><br></div>
                            <input type="submit" class="btn btn-raised submitContact" style="width: 150px;color:#fff;height: 50px;" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
@*<div class="skype_c2c_menu_container notranslate" id="skype_c2c_menu_container" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" data-fp="{5140D077-5297-43D4-BCAC-B8B0D1B47241}" data-murl="https://pipe.skype.com/Client/2.0/" data-uiid="0" style="display: none;"><div class="skype_c2c_menu_click2call"><a class="skype_c2c_menu_click2call_action" id="skype_c2c_menu_click2call_action" target="_self">Call</a></div><div class="skype_c2c_menu_click2sms"><a class="skype_c2c_menu_click2sms_action" id="skype_c2c_menu_click2sms_action" target="_self">Send SMS</a></div><div class="skype_c2c_menu_add2skype"><a class="skype_c2c_menu_add2skype_text" id="skype_c2c_menu_add2skype_text" target="_self">Add to Skype</a></div><div class="skype_c2c_menu_toll_info"><span class="skype_c2c_menu_toll_callcredit">You'll need Skype Credit</span><span class="skype_c2c_menu_toll_free">Free via Skype</span></div></div>*@