
@{
    ViewBag.Title = "Stretgy Summary";
}

<div class="inner_page">
    <strong class="heading"><img src="~/images/executive.png" />&nbsp;Executive Summary</strong>
    <p>
        Empire Security Services (ESS) Is a startup security company co-founded by Sumeet Malik and Sushant Malik, an experienced
        security company officer. The bussiness will provide security guards to commercial buildings, retail businesses, night clubs,
        mobile patrolling. loss prevention and eventually special event venues, and other clients. The business alms to target large
        retail stores and building management companies first, In order to establish a strong base of clients In ACT, a client
        management database system.<br /><br />
        ESS regards Itself as a specialist Security Provider. At ESS we have recognized the need to develop more speclallred teams
        who would have the advantage of understanding a niche market sector, thereby making them more effective in their service
        delivery. This is one of the many reasons, that we are making huge inroads in a very competitive emrironment.<br />
        At ESS, we are dedicated to providing safe, reliable and efficient means of protecttng people and property. One of the
        foundations upon whkh we have built our business Is our commitment to servke excellence and oor customers' needs are
        our highest priority.<br /><br />
        ESS has a network that has been built from the groond up. We are renowned for enhancing the growth of our client's business
        by minimizing the potential collusion factor within the workfone, as well as drastically reducing their shrinkage tlvough the
        Implementation of a jointly approved solution. ESS will gradually grow Its employee-base of security guards carefully after
        properly cllecklng their antecedens, based on client contracts, and use both full-time and part-time guards. The business
        expects respectable sales rn the first year of operation. Gross margins will be similar to the Industry average, based on guard
        labor costs versus bllhngs. After the lnltfallnvestment and launch, a lean ffrst year, and the establishment of an office and
        training space inthesecondyear, the business will be poised to expand through Its own financlnglnthethlrdyear and on.<br />
        ESS provides "Total Quality" servke, which Is benchmarked by providing professionally trained and high calibre personnel in
        conformltywlth ourstandardsto deliver value-added servkes.
    </p>
</div>

<div class="inner_page">
    <strong class="heading"><img src="~/images/strategy.png" />&nbsp;Strategy And Implementation Summary</strong>
    <p>The key strategy for ESS (Empire Security Services) Is to build their operations and maritet1ng around buildings and retail stores that are large enough to have permanent, on-site security needs, but not so large that they can save significant money by developing security staff in-house. To achieve this strategy, ESS Security will:</p>
    <ul class="keys">
        <li>Train guards well for permanentchedc-Jn, patrol, and surveillance positions</li>
        <li>Use advertising and targeted lists to locate and maritettothese customer markets</li>
        <li>Foals spedflcally on guard services and high-level consulting audits, while outsourcing or referring to vendors for security equipment and system needs</li>
    </ul>
</div>

<div class="inner_page">
    <strong class="heading"><img src="~/images/marketing.png" />&nbsp;Marketing Strategy</strong>
    <p>To reach its target markets of building management companies a11d large retail busi11esses, Empire Security Services (ESS) will usethefollowingtactics:</p>
    <ul class="keys">
        <li>Development of an lnteractfve webslte with services and contact information</li>
        <li>Advertisll\gln trade publlcattons read by managers lntllese two industries</li>
        <li>Advertising oollne with Google AdWords around keywords for security services and security guards, especially associated with tllese twotypesof customers</li>
        <li>Business cards and brochures for Empire Security</li>
        <li>Services to distribute on appointments and while networkl11g with ACT-area business networking groups</li>
        <li>Direct selling work based on purchasing ordevelopil\gtargetlists</li>
        <li>Direct mall of brochures and letters totllesetarget lists of potential cllentslnACT</li>
    </ul>
</div>

<div class="inner_page">
    <strong class="heading"><img src="~/images/sales.png" />&nbsp;Sales Strategy</strong>
    <p>
        Sumeet Malik will be the primary salesperson for Empire Security Services. He will meet with clients at their buildings to
        perform an Initial consultation and will develop proposals for security services based on the client's needs. Sumeet Malik will
        track sales prospects and clients with ACT, a client management database system.<br />
        <br />
        Sushant Malik sales strategy will be to listen carefully to the needs of the client and to provide assurance til rough stories of his
        experience and a canny understanding of their needs and concerns. While his proposals may not be the lowest cost bids a
        potential clle11t receives, he will follow up with care and the same personal attention that clients will receive if they move
        forward with using Empire Security Services.
    </p>
</div>

<div class="inner_page">
    <strong class="heading"><img src="~/images/management.png" />&nbsp;Management Summary</strong>
    <p>
        Sumeet Malik will be the primary salesperson for Empire Security Services. He will meet with clients at their btlildlngs to
        perform an Initial consultation and will develop proposals for security services based on the client's needs. Sumeet Malik will
        track sales prospects and clients with ACT, adient management database system.<br /><br />
        SUshant Malik sales strategy will be to listen carefully to the needs of the client and to provide assurance til rough stories of his
        experience and a canny understanding of their needs and concerns. While his proposals may not be the lowest cost bids a
        potential client receives. he wfll follow up with care and the same personal attention that clients will receive If they move
        forward with using Empire Security Services.
    </p>
</div>





